# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.DS_Store

.idea/

data/

*/cmd/cmd
*/cmd/*/*
!*/cmd/*/*.go
tokeninfo/cmd/output.json
apidocs/build
